*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(404.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}